.git
node_modules
.next
out
build
coverage
storage
data
prisma/dev.db
prisma/dev.db-journal
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
.DS_Store
Dockerfile
docker-compose.yml
.dockerignore
restart.sh
